.fw {
    display: block;
    margin-bottom: 50px;
    position: relative;
    max-width: 700px;
    margin: 0 auto;

    input {
        background: none;
        border: 1px solid transparent;
        border-bottom: 1px solid white;
        color: white;
        font-size: 18px;
        letter-spacing: 2px;
        display: inline-block;
        margin: 0 0 30px;
        outline: none;
        padding: 10px 10px 10px 60px;
        transition: border 0.25s ease-in-out;
        width: 47.5%;

        &.invalid {
            border: 1px solid red;
        }

        &:last-of-type {
            margin-left: 5%;
        }
    }

    span {
        border: 2px solid white;
        top: 38px;
        margin: 0 !important;
        position: absolute;
        width: 50px;

        &:last-of-type {
            left: 52.5%;
        }
    }

    button {
        background: none;
        color: white;
        border: 1px solid white;
        display: block;
        font-size: 24px;
        letter-spacing: 6px;
        margin: 20px auto;
        padding: 20px 30px;
        text-transform: uppercase;
    }
}