.fw {
    display: block;
    margin-bottom: 50px;
    position: relative;
    max-width: 700px;
    margin: 0 auto;
    position: relative;

    img {
        position: absolute;
        left: 10px;
        opacity: 0;
        top: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease-in-out;
        width: 30px !important;

        &:last-of-type {
            top: 74px;
            @media("min-width: 768px") {
                left: calc(50% + 30px);
                top: 0;
            }
        }

        &.isShowing {
            opacity: 1;
            transform: none;
        }
    }

    input {
        background: none;
        border: 1px solid transparent;
        border-bottom: 1px solid white;
        color: white;
        font-size: 18px;
        letter-spacing: 2px;
        display: inline-block;
        margin: 0 0 30px;
        outline: none;
        padding: 10px 10px 10px 60px;
        transition: border 0.25s ease-in-out;
        width: 100%;

        @media("min-width: 768px") {
            width: 47.5%;
        }

        &.invalid {
            border-bottom: 1px solid red;
        }

        &:last-of-type {
            @media("min-width: 768px") {
                margin-left: 5%;
            }
        }
    }

    span {
        border: 2px solid white;
        top: 38px;
        margin: 0 !important;
        position: absolute;
        width: 50px;

        &:last-of-type {
            top: 111px;

            @media("min-width: 768px") {
                left: 52.5%;
                top: 38px;
            }
        }

        &.input-bar-email {
            left: calc(50% + 17px) !important;
        }
    }

    button {
        background: none;
        color: rgba(255,255,255,0.7);
        cursor: pointer;
        border: 1px solid rgba(255,255,255,0.7);
        display: block;
        font-family: MarkBook;
        font-size: 18px;
        letter-spacing: 6px;
        margin: 20px auto 60px;
        outline: none;
        opacity: 0;
        padding: 20px 30px;
        pointer-events: none;
        text-transform: uppercase;
        transition: all 0.25s ease-in-out;

        &:hover {
            border-color: white;
            color: white;
        }

        &.isShowing {
            opacity: 1;
            pointer-events: auto;
        }
    }

    .thanks {
        border: 0;
        font-family: MarkBook !important;
        font-size: 14px;
        left: 50% !important;
        line-height: 38px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 100px !important;
        transform: translateX(-50%);
        transition: opacity 0.3s ease-in-out;
        width: 100%;

        &.isShowing {
            opacity: 1;
            pointer-events: auto;
        }
    }
}