doctype html
html
    head
        block meta
            title LSG

        meta(name='viewport', content='user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1')
        script(type="text/javascript" src="https://js.stripe.com/v2/")
        <script>Stripe.setPublishableKey('pk_test_cksoQmHEgXLXGQmAGwntwtE0')</script>




        block css



    body
        block topScripts
            // - Put your env vars here
                script.
                    window.MY_VAR = env.MY_VAR || false;

        block content

        block scripts
