$im: !important;

$darkRed: #571622;
$fadedRed: rgba(87,22,34, 0.9);


$desktop-min: "min-width: 768px";
$kWide: "min-width: 1000px";
$elevenWide: "min-width: 1100px";
$mobile-max: "max-width: 767px";